li.announcement(class=(announcement.twitter)?"twitter":false)
  .buttons
    a.edit(href="/announcement/"+announcement.id) Edit
    a.delete Delete
  p.message= announcement.message
  - if (announcement.service)
    a.service(href="#"+announcement.service.id)= announcement.service.name
  p.time 
    | Posted
    !=timeago(announcement.updatedAt)