form.announcement.new(method='post', action="/announcements")
  header
    h2 Add an annoucement
  section.form
    !=partial('_form')
    ul
      li.buttons.form-submit
        input.submitButton.button(type="submit", value="Post")
        a.cancel.button(href="/") Cancel