form.annoucement.new(method='post')
  header
    h2 Add an annoucement
  section.form
    !=partial('_form')
    ul
      li.buttons.form-submit
        input.button.submit(type="submit", value="Post")
        a.cancel.button(href="/") Cancel