!!! 5
%html(lang="en")
  %head
    %title StatusQuo
  %body
    %h1 StatusQuo
    :each server in servers
      %h2= server.name
      %ul
        :each site in server.sites
          %li 
            = site.name
            %em pinging...
