!!! 5
html(lang="en")
  head
    title= title || "statusQuo"
    // Javscripts
    meta(charset="utf-8")
    | <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
    script(type = "text/javascript",src = "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js")
    script(type = "text/javascript",src = "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
    script(type = "text/javascript",src = "/javascripts/modernizr-1.6.min.js")
    script(type = "text/javascript",src = "/javascripts/statusQuo.js")
    // Stylesheets
    link(rel="stylesheet", href="/stylesheets/base.css")
  body
    header
      h1.ok
        em the
        | StatusQuo
    #page!= body