@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  
  to {
    -webkit-transform: rotate(10800deg);
  }
}

@-webkit-keyframes pulse {
  from {
    opacity:.75;
  }
  
  to {
    opacity:1;
  }
}