ul
  li.ip
    label(for='server[ip]') Server IP
    input(type="text", name='server[ip]', 'autofocus', value=server.ip)
  li.hostname
    label(for='server[name]') Hostname
    input(type="text", name='server[name]', value=server.name)
  li.os
    label(for='server[os]') OS
    input(type="text", name='server[os]', value=server.os)
  li.type
    label(for='server[type]') Server Type
    input(type="text", name='server[type]', value=server.typeList)

h2 Services to monitor
ul.services
  - var services = (server.services) ? server.services : {}
  !=partial('_form_service',  { collection: services, as: 'service' })
ul  
  li
    a.add.addService(href='javascript:void(0)') Add Service