ul  
  li
    label(for='server[ip]') Server IP
    input(type="text", name='server[ip]', 'autofocus', value=server.ip || '')
  li
    label(for='server[hostname]') Hostname
    input(type="text", name='server[hostname]', value=server.hostname || '')
  li
    label(for='server[os]') Operating System
    input(type="text", name='server[os]', value=server.os || '')
  li.checkboxs
    span.label Server type
    ul
      li
        label
          input(type="checkbox", name='server[type]', value="[web]") 
          | Web server
        label
          input(type="checkbox", name='server[type]', value="[db]")
          | Database Server
  li.buttons
    input.button(type="submit", value="Add Server")
    a.button.cancel(href="/") Cancel