.server(id=server.id)
  header
    h2= server.name
    nav
      a.edit(href="/server/"+server.id+"/edit") Edit
      a.ping(href="javascript:void(0)") Ping
      a.refresh(href="javascript:void(0)") Refresh
  .console
    a.button.stopPing(href="javascript:void(0)") OK
  section.info
    ul
      li= server.ip
      li= server.os
  section.services
    !=partial('_service', server.services)