.server(id=server.id)
  header
    h2= server.hostname
    nav
      a.edit(href="/server/"+server.id+"/edit") Edit
      a.ping(href="javascript:void(0)") Ping
      a.refresh(href="javascript:void(0)") Refresh
  .console
    a.button.stopPing(href="javascript:void(0)") OK
  section.info
    ul
      li= server.ip
      li= server.os
  section.sites
    !=partial('_site', server.sites)