.server.thumb(id=server.id)
  header
    h3= server.name
    .buttons
      a.button.transparent.refresh(href="javascript:void(0)") Refresh
  
  section.info
    ul
      li= server.ip
      li= server.os
  section.services
    .loader
    ul