header
  h1 Edit #{server.name}
form.server.edit(method='post',action='/server/'+server.id)
  input(type='hidden', name='_method', value='put')
  input(name='server[id]', value=server.id, type='hidden')
  !=partial('_form')
  ul
    li.buttons
      input.button(type="submit", value="Save Changes")
      a.button.cancel(href="/") Cancel
      a.button.delete(href="/server/"+server.id+"/delete") Delete Server
      
form.delete(method='post',action='/server/'+server.id)
  input(type='hidden', name='_method', value='delete')