form.server.new(method='post')
  header
    h2 Add a server
  section.form
    !=partial('_form')
    ul
      li.buttons.form-submit
        input.button(type="submit", value="Add Server")
        a.button.cancel(href="/") Cancel