header
  h1 Add a server to monitor
form.server_new(method='post')
  ul
    !=partial('_form')
    li.buttons
      input.button(type="submit", value="Add Server")
      a.button.cancel(href="/") Cancel
